// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$accent-color:#FDD835;


$transparent-grey:#30303067;

$light-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
